{% load static %}
  <head>
      <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <title>GET THIS LINK FU**IN SHORTER</title>
  </head>

  <main>
      <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
         <div class="w3-display-topleft w3-padding-large w3-small">
            Made by Paweł K. 2022 
         </div>
         <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top w3-center">SHORT THIS F**KING URL</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center">
            <form id="post-form" class="w3-large w3-center">
              {% csrf_token %}
              <input type="text" name="link" id="link" size="60%" placeholder="Enter your shitty-ass long URL here...">
              <button type="submit" id="shorten" style="margin-top:15px;">SHORT</button>
            </form>
            </p>
             <section id="section"><h2></h2></section>
         </div>
         <div class="w3-display-bottomleft w3-padding-large">
            Powered by <a href="https://docs.djangoproject.com/en/4.0/" target="_blank">Django 4</a>
         </div>
      </div>
  </main>

<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/create',
      data:{
        link:$('#link').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
        $('h2').html("localhost:8008/"+data)
      }
    });
  });
</script>